* {
	margin: 0;
	padding: 0;
}
body {
	background: #252525;
	font-family: sans-serif;
}
.w {
	width: 300px;
	margin: auto;
	position: absolute;
	top: 40%;
	bottom: 50%;
	left: 0;
	right: 0;
	padding: 15px;
	display: block;
	background: #EBEBEB;
	height: 250px;
	text-align: center;
}
.w h2 {
	margin-bottom: 25px;
}
form {
	text-align: center;
}
form input {
	height: 25px;
	padding: 4px;
	outline: none;
}
form input[type="text"],
form input[type="password"] {
	margin-bottom: 25px;
	border: 2px solid transparent;

	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}
form input[type="text"]:hover,
form input[type="password"]:hover {
	border-color: #252525;
}
form input[type="submit"] {
	display: block;
	outline: none;
	border: none;
	padding: 10px 30px 25px 30px;
	color: #fff;
	background: #252525;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	text-align: center;
	width: 120px;
}